<% include ../layouts/header %>

  <!-- show any messages that come back with authentication -->
	<% if (messages.length > 0) { %>
		<div class="alert alert-success"><%= messages %></div>
	<% } %>

	<div class="jumbotron add-expense-page">
	  <h1 class="text-center">Add expense</h1>
		<div id="addExpensePage"></div>

    <div class="back-link">
		  <a href="home"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
		</div>
	</div>

<script src="addExpensePage.js"></script>

<% include ../layouts/footer %>